.dropdownMenu {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.2);
  position: absolute;
  top: 100%;
  left: 0;
  transform: translateY(8px);
  z-index: 2;
}

.settingsBtn,
.logoutBtn {
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.settingsIcon {
  width: 16px;
  height: 16px;
  fill: #ffffff;
  stroke: #407bff;
  stroke-width: 2;
}

.logoutIcon {
  width: 16px;
  height: 16px;
  color: #407bff;
}

@media screen and (min-width: 768px) {
  /* .dropdownMenu {
    right: 32px;
  } */
}

@media screen and (min-width: 1440px) {
  /* .dropdownMenu {
    top: 68px;
    right: 112px;
  } */
}
