.monthWaterBox {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.monthWaterTitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: #2f2f2f;
}

.paginator {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.paginatorDate {
  padding-left: 6px;
  padding-right: 6px;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #407bff;
}

.visuallyHidden {
  visibility: hidden;
}

.chevronLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: 90deg;
  width: 14px;
  height: 14px;
  fill: #407bff;
}

.chevronRight {
  display: flex;
  align-items: center;
  justify-content: center;
  rotate: -90deg;
  width: 14px;
  height: 14px;
  fill: #407bff;
}

.daysList {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  column-gap: 26px;
  max-width: 264px;
}

.day {
  height: 52px;
  text-align: center;
  cursor: pointer;
}

.dayCircle {
  width: 32px;
  height: 32px;
  background: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedDay {
  box-shadow: 0 2px 4px 0 rgba(64, 123, 255, 0.3);
}

.dayDrinked {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.6;
  text-align: center;
  color: #9ebbff;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: default;
}

.incomplete {
  border: 1px solid #ff9d43;
}

@media (min-width: 768px) {
  .header {
    max-width: 656px;
  }

  .monthWaterTitle {
    font-weight: 500;
    font-size: 26px;
    line-height: 1.23077;
    color: #2f2f2f;
  }

  .daysList {
    row-gap: 20px;
    column-gap: 34px;
    max-width: 646px;
  }

  .day {
    height: 58px;
  }

  .dayCircle {
    width: 34px;
    height: 34px;
  }
  .dayDrinked {
    font-size: 13px;
    line-height: 1.53846;
  }
}

@media (min-width: 1440px) {
  .header {
    max-width: 544px;
  }

  .daysList {
    column-gap: 22px;
    max-width: 646px;
  }

  .day {
    height: 56px;
  }
  .dayDrinked {
    line-height: 1.5;
  }
}
