.waterRatioPanelBox {
  width: 290px;
}

.addWaterTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  text-align: center;
  color: #407bff;
  text-align: start;
  margin-bottom: 8px;
}

.waterBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18px;
  margin-bottom: 11px;
}

.progressBar {
  width: 256px;
  margin: 20px 0;
  position: relative;
}

.scale {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #666;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #407bff;
  width: 280px;

  margin-bottom: 16px;
}

.scale span {
  width: 50px;
  height: 20px;
  text-align: center;
}

.scale .active {
  font-weight: 500;
  font-size: 16px;
}

.filledTrack {
  position: absolute;
  height: 100%;
  width: 8px;
  border-radius: 10px;
  background: #9ebbff;
  z-index: 1;
  transition: width 0.3s ease-in-out;
}

.track {
  position: relative;

  height: 8px;
  background-color: #ecf2ff;
  border-radius: 4px;
  overflow: hidden;
}

.indicator {
  position: absolute;
  top: 50%;
  width: 14px;
  height: 14px;
  background-color: #ffffff;
  outline: 1px solid #407bff;
  z-index: 2;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: left 0.3s ease-in-out;
}

.addWaterBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  border-radius: 10px;
  padding: 6px 76px;
  width: 280px;
  height: 36px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  background: #407bff;
}

.addWaterBtn:hover {
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.54);
}

.addWaterBtn:active {
  box-shadow: none;
}

.addIcon {
  stroke: white;
  stroke-width: 2px;
  fill: none;
}

@media (min-width: 768px) {
  .waterRatioPanelBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    width: 704px;
  }

  .addWaterTitle {
    margin-bottom: 16px;
  }

  .progressBar {
    width: 325px;
  }

  .scale {
    width: 356px;
  }

  .addWaterBtn {
    padding: 10px 104px;
    width: 336px;
    height: 44px;
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .waterRatioPanelBox {
    max-width: 592px;
    gap: 23px;
  }

  .addWaterBtn {
    padding: 10px 30px;
    width: 178px;
    height: 44px;
  }
}
