* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.todayWaterBox {
  width: 264px;
  margin-bottom: 24px;
}

.todayWaterTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25;
  color: #2f2f2f;
  margin-bottom: 16px;
}

.todayWaterList {
  max-height: 150px;
  overflow-y: auto;
  padding-right: 10px;
}

.todayWaterList::-webkit-scrollbar {
  width: 4px;
}

.todayWaterList::-webkit-scrollbar-track {
  border-radius: 8px;
  width: 2px;
  height: 170px;
  background: #d7e3ff;
}

.todayWaterList::-webkit-scrollbar-thumb {
  border-radius: 8px;
  width: 4px;
  height: 100px;
  background: #9ebbff;
}

.todayWaterValue {
  display: flex;
  align-items: center;
  gap: 12px;
}

.todayWaterItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #d7e3ff;
  height: auto;
  width: 100%;
}

.glassIcon {
  width: 26px;
  height: 26px;
}

.glass {
  width: 100%;
  height: 100%;
  fill: #407bff;
}

.todayAmount {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33333;
  color: #407bff;
  width: 60px;
}

.todayTime {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  color: #2f2f2f;
  width: 40px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.editWaterBtn {
  background-color: transparent;
  border: none;
}

.editIcon {
  width: 18px;
  height: 18px;
  margin-right: 18px;
}

.edit {
  margin-right: 18px;
  width: 100%;
  height: 100%;
  stroke-width: 1px;
  stroke: #9ebbff;
  fill: none;
}

.deleteWaterBtn {
  background-color: transparent;
  border: none;
}

.trashIcon {
  width: 18px;
  height: 18px;
}

.trash {
  width: 100%;
  height: 100%;
  stroke-width: 1px;
  stroke: #ef5050;
  fill: none;
}

.addWaterBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 97px;
  height: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #407bff;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-top: 12px;
}

.plusIcon {
  width: 18px;
  height: 18px;
}

.plus {
  width: 100%;
  height: 100%;
  stroke-width: 1px;
  stroke: #407bff;
  fill: none;
}

@media screen and (min-width: 768px) {
  .todayWaterBox {
    width: 656px;
  }

  .todayWaterList {
    max-height: 160px;
  }

  .todayWaterTitle {
    font-size: 26px;
  }

  .glassIcon {
    width: 36px;
    height: 36px;
    margin-right: 12px;
  }

  .todayAmount {
    margin-right: 16px;
  }

  .addWaterBtn {
    font-size: 18px;
    width: 114px;
    height: 24px;
  }

  .plusIcon {
    width: 24px;
    height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .todayWaterBox {
    width: 544px;
    height: 260px;
  }
  .todayWaterList {
    max-height: 180px;
  }

  .todayAmount {
    font-size: 18px;
  }
}
