h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 384px;
  /* max-height: 404px; */
  /* gap: 16px; */
  margin: auto;
}

.title {
  font-weight: 500;
  font-size: 26px;
  line-height: 1.2;
  color: #2f2f2f;
  padding-bottom: 16px;
}

.block {
  padding-bottom: 16px;
}

.label {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #2f2f2f;
  margin-bottom: 8px;
}

.input {
  /* display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 10px; */
  border: 1px solid #d7e3ff;
  border-radius: 6px;
  padding: 12px 10px;
  padding-right: 36px;
  width: 384px;
  height: 46px;
  outline: none;
  color: #407bff;
}

.input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #9ebbff;
}

.input:focus {
  color: #407bff;
}

.errorMessage {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #ef5050;
  padding-top: 4px;
  margin-bottom: 16px;
}

.submit {
  border-radius: 10px;
  padding: 10px 30px;
  box-shadow: 0 4px 8px 0 rgba(64, 123, 255, 0.34);
  border: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #ffffff;
  background-color: #407bff;
  margin-bottom: 16px;
  margin-top: 16px;

  /* text-align: center; */
  /* width: 384px;
  height: 44px; */
}

.submit {
  background: #407bff;
}

.submit:hover {
  color: #ff9d43;
  cursor: pointer;
}

.extrabtn button {
  background-color: transparent;
  color: #407bff;
  border: none;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s ease;
  padding-bottom: 12px;
}

.eye {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
