.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  padding-left: 8px;
  padding-right: 8px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media (min-width: 1440px) {
  .container {
    padding-left: 112px;
    padding-right: 112px;
  }
}
