.container {
  max-width: 320px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
  background-color: #ffffff;
  background-image: image-set(
    url('../../assets/img/home/bubbles_home_mobile_1x.png') 1x,
    url('../../assets/img/home/bubbles_home_mobile_2x.png') 2x
  );
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top 108px;
  background-attachment: fixed;
}

.dailyNormPanel {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 24px;
  padding-bottom: 20px;
  background-image: image-set(
    url('../../assets/img/home/bottle_home_mobile_1x.png') 1x,
    url('../../assets/img/home/bottle_home_mobile_2x.png') 2x
  );
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center top 106px;
}

.dailyNorma {
  margin-bottom: 232px;
}

.statistics {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 48px;
}

.statisticsContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 10px;
  padding: 24px 8px;
  max-width: 280px;
  height: 836px;
  box-shadow: 0 4px 14px 0 rgba(64, 123, 255, 0.3);
  background: #ecf2ff;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    margin-top: 64px;
    background-image: image-set(
      url('../../assets/img/home/bubbles_home_tablet_1x.png') 1x,
      url('../../assets/img/home/bubbles_home_tablet_2x.png') 2x
    );
    background-position: center top 88px;
  }

  .dailyNormPanel {
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 20px;
    background-image: image-set(
      url('../../assets/img/home/bottle_home_tablet_1x.png') 1x,
      url('../../assets/img/home/bottle_home_tablet_2x.png') 2x
    );

    background-position: center top 36px;
  }

  .statistics {
    padding-left: 32px;
    padding-right: 32px;
  }

  .dailyNorma {
    margin-bottom: 326px;
  }

  .statisticsContainer {
    border-radius: 10px;
    padding: 32px 24px;
    max-width: 704px;
    height: 688px;
  }
}

@media (min-width: 1440px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    max-width: 1440px;
    margin-top: 60px;
    background-image: image-set(
      url('../../assets/bubbles_desktop_any_1x.png') 1x,
      url('../../assets/bubbles_desktop_any_2x.png') 2x
    );
    background-position: center top 88px;
  }

  .dailyNormPanel {
    padding-left: 0;
    padding-right: 0;
    padding-top: 32px;
    padding-bottom: 56px;
    background-image: image-set(
      url('../../assets/img/home/bottle_home_desktop_1x.png') 1x,
      url('../../assets/img/home/bottle_home_desktop_2x.png') 2x
    );
    background-position: center top 22px;
  }

  .dailyNorma {
    margin-bottom: 466px;
  }

  .statistics {
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .statisticsContainer {
    max-width: 592px;
    height: 680px;
  }
}
